# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
*.py[cod]
*$py.class

venvs/
env/
jupyter-mlops/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Jupyter
.ipynb_checkpoints

# Data and models
data/
models/

# MLflow
mlruns/

# DVC
*.dvc
.cache/

*.csv
*.tsv
*.json

# Logs
*.log

# VS Code settings
.vscode/

# MLflow local DB
mlflow.db

/lgbm_model.pkl
/tfidf_vectorizer.pkl
/experiment_info.json

!.dvc
